@font-face {
    font-family: 'KantumruyPro';
    src: url('/fonts/KantumruyPro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KantumruyPro', sans-serif;
}